{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
